<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="row">

        <% blogs.forEach(blog=>{ %>
            <div class="col-lg-6 card mt-2 mr-0">
                <div class="row p-2">
                    <div class="col-7">
                        <div class="d-flex align-items-start">
                            <h5 class="w-100"><b> <%= blog.title %> </b></h5>
                            <div class="more position-relative" style="cursor: pointer;">
                                <i class="material-icons p-2">more_vert</i>
                                <div class="d-none options card rounded-pill shadow-sm p-1 position-absolute">
                                    <a href="#" class="rounded-circle p-2 mb-2" style="background:blue;">
                                        <i class="material-icons" style="color:white">create</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <span class="align-self-stretch "><%= blog.snippet %>
                    </span>
                        <div class="d-flex align-items-end">
                            <div class=" flex-grow-1">
                                <h5 class="" style="font-size: 14px; line-height: 0.5rem;">
                                    <span><b><%= blog.author%></b></span></h5>
                                <p style="font-size: 8px; line-height: 0.2rem;">
                                    <%= blog.createdAt.toLocaleDateString() %>
                                </p>
                            </div>
                            <a href="#" class=" align-self-end">
                                <i class='material-icons ml-3 text-black'>send</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>




    </div>
</body>

</html>